<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>project2_1</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="card"></div>
    <div class="container">
        <div><div class="input-group">
  <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
    <option selected>Choose...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">Button</button>
  </div>
</div></div>
    </div>
    <div class="text-center text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="margin: 0px;padding-right: 7px;padding-left: 7px;">
                    <div class="card">
                        <div class="card-body" style="padding: 41px;padding-top: 56px;background-color: #4FA03D;padding-bottom: 60px;padding-right: 41px;margin-right: 1px;margin-left: 1px;margin-bottom: 10px;margin-top: 10px;">
                            <h4>Heading</h4>
                            <h1 style="padding-bottom: 0px;">Heading</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin: 0px;padding-right: 7px;padding-left: 7px;">
                    <div class="card">
                        <div class="card-body" style="padding: 41px;padding-top: 56px;padding-bottom: 60px;padding-right: 41px;margin-right: 1px;margin-left: 1px;margin-bottom: 10px;margin-top: 10px;background-color: #E1542B;">
                            <h4>Heading</h4>
                            <h1>Heading</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin: 0px;margin-top: 0px;padding-right: 0px;padding-left: 0px;">
                    <div class="card" style="padding-right: 7px;padding-left: 7px;">
                        <div class="card-body" style="padding: 41px;padding-top: 56px;background-color: #FCCE58;padding-bottom: 60px;padding-right: 41px;margin-right: 1px;margin-left: 1px;margin-bottom: 10px;margin-top: 10px;">
                            <h4>Heading</h4>
                            <h1>Heading</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin: 0px;padding-right: 7px;padding-left: 7px;">
                    <div class="card" style="padding-right: 7px;padding-left: 7px;">
                        <div class="card-body" style="padding: 41px;padding-top: 56px;background-color: #5388BE;padding-bottom: 60px;padding-right: 41px;margin-right: 1px;margin-left: 1px;margin-bottom: 10px;margin-top: 10px;">
                            <h4>Heading</h4>
                            <h1>Heading</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3"><input class="form-control-plaintext" type="text" value="Yearly Revenue" readonly="">
                    <div id="myChart"><canvas data-bs-chart="{&quot;type&quot;:&quot;bar&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;January&quot;,&quot;February&quot;,&quot;March&quot;,&quot;April&quot;,&quot;May&quot;,&quot;June&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Revenue&quot;,&quot;backgroundColor&quot;:&quot;#4e73df&quot;,&quot;borderColor&quot;:&quot;#4e73df&quot;,&quot;data&quot;:[&quot;4500&quot;,&quot;5300&quot;,&quot;6250&quot;,&quot;7800&quot;,&quot;9800&quot;,&quot;15000&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:true,&quot;legend&quot;:{&quot;display&quot;:false},&quot;title&quot;:{&quot;text&quot;:&quot;&quot;}}}"></canvas></div>
                </div>
                <div class="col-md-3"><input class="form-control-plaintext" type="text" value="Sales by Product Category" readonly="">
                    <div id="myChart2"><canvas data-bs-chart="{&quot;type&quot;:&quot;bar&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;January&quot;,&quot;February&quot;,&quot;March&quot;,&quot;April&quot;,&quot;May&quot;,&quot;June&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Revenue&quot;,&quot;backgroundColor&quot;:&quot;#4e73df&quot;,&quot;borderColor&quot;:&quot;#4e73df&quot;,&quot;data&quot;:[&quot;4500&quot;,&quot;5300&quot;,&quot;6250&quot;,&quot;7800&quot;,&quot;9800&quot;,&quot;15000&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:true,&quot;legend&quot;:{&quot;display&quot;:false},&quot;title&quot;:{}}}"></canvas></div>
                </div>
                <div class="col-md-3"><input class="form-control-plaintext" type="text" value="Sales by Month" readonly="">
                    <div id="country"><canvas data-bs-chart="{&quot;type&quot;:&quot;bar&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;January&quot;,&quot;February&quot;,&quot;March&quot;,&quot;April&quot;,&quot;May&quot;,&quot;June&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Revenue&quot;,&quot;backgroundColor&quot;:&quot;#4e73df&quot;,&quot;borderColor&quot;:&quot;#4e73df&quot;,&quot;data&quot;:[&quot;4500&quot;,&quot;5300&quot;,&quot;6250&quot;,&quot;7800&quot;,&quot;9800&quot;,&quot;15000&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:true,&quot;legend&quot;:{&quot;display&quot;:false},&quot;title&quot;:{}}}"></canvas></div>
                </div>
                <div class="col-md-3"><input class="form-control-plaintext" type="text" value="TBD" readonly="">
                    <div id="city"><canvas data-bs-chart="{&quot;type&quot;:&quot;bar&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;January&quot;,&quot;February&quot;,&quot;March&quot;,&quot;April&quot;,&quot;May&quot;,&quot;June&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Revenue&quot;,&quot;backgroundColor&quot;:&quot;#4e73df&quot;,&quot;borderColor&quot;:&quot;#4e73df&quot;,&quot;data&quot;:[&quot;4500&quot;,&quot;5300&quot;,&quot;6250&quot;,&quot;7800&quot;,&quot;9800&quot;,&quot;15000&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:true,&quot;legend&quot;:{&quot;display&quot;:false},&quot;title&quot;:{}}}"></canvas></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6"><iframe allowfullscreen="" frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" id="mapid" width="100%" height="400"></iframe></div>
                <div class="col-md-6">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Column 1</th>
                                    <th>Column 2</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cell 1</td>
                                    <td>Cell 2</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td>Cell 4</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/config.js"></script>
</body>

</html>